* {
    box-sizing: border-box;
}
:root {
    --cor1: #F3F5FC;
    --cor2: #FFF;
}

body {
    background-color: var(--cor1);
    padding: 40px;
}

header { 
    padding-left: 40px;

}

section {
    display: inline-block;
}

#coluna-esquerda {
    width: calc(100vw - 480px);
    height: calc(100vh - 131px);
    padding: 40px 80px 40px 200px;
}

#coluna-direita {
    width: 400px;
    height: calc(100vh - 80px);
    background-color: var(--cor2);
    position: absolute;
    right: 0; top: 0;
    margin: 40px;

}